fonttools==4.39.2
furo==2024.8.6
h5py==3.8.0
matplotlib==3.7.1
nbclient==0.10.1
nbconvert==7.16.5
nbformat==5.10.4
nbsphinx==0.9.6
numpy==1.24.2
packaging==23.0
pandas==1.5.3
paramspace==2.5.9
Pillow==9.4.0
PyYAML==6.0
scikit-learn==0.24.1
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
Sphinx==7.1.2
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
torch==2.0.0
